@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-zinc-800;
  }
  body {
    @apply bg-zinc-950 text-zinc-50;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
