@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-zinc-800;
  }
  body {
    @apply bg-zinc-950 text-zinc-50;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #18181b;
}
